*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,
body{
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

}

.container{
    width: 100%;
    height: 100%;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    position: fixed;
    z-index: 1;
}

.navbar .leftNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .rightNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar .rightNav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.navbar .rightNav a:visited{
    text-decoration: none;
    color: black;
}
.navbar .rightNav a:hover{
    font-size: 20px;
    color: black;
}
.heroImg{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-bottom: 0px;
    background-color: #f8f8f7;
}



.video{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
.heroImg .heroTextPos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.heroImg .heroTextPos .heroText{
    color: #be9b7b;
    font-size: 74px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about{
    width: 100vw;
    height: 100vh;
    background-color:  	#f8f8f7;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.about-text{
    width: 70vw;
    background-color:#ece9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    

}

.about-text h2{
    color: #be9b7b;
    margin-bottom: 0px;
    font-size: 44px;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  	#4b3832;

}

.about-text p{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.projects{
    width: 100vw;
    height: 400vh;
    background-color:#ece9e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.projects .project{
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

}
.projects .project img{
    width: 60vw;
    height: 60vh;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #eee2d9;
}

.projects .project a{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding: 40px;
    color: #be9b7b;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  	#4b3832;
    text-decoration: none;

}

.projects .project a:hover{
    font-size: 50px;
    padding: 40px;
    text-decoration: none;
}

.projects .project a:visited{
    text-decoration: none;
    color: #be9b7b;
}

.projects .project p{
    width: 40%;
    font-size: 16px;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}


.contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #ece9e4;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}