*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,
body{
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

}

.container{
    width: 100%;
    height: 100%;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    position: fixed;
    z-index: 1;
    color: #be9b7b;
}

.navbar .leftNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.navbar .rightNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar .rightNav a{
    text-decoration: none;
    font-size: 16px;
    color: #be9b7b;
    font-family: "M PLUS 1 Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.navbar .rightNav a:visited{
    text-decoration: none;
    color: #be9b7b;
}
.navbar .rightNav a:hover{
    font-size: 20px;
    color: #be9b7b;
}
.heroImg{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-bottom: 0px;
    background-color: #ECE9E4;
    opacity: 0.8;
    background-image:  radial-gradient(#CAAE95 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#CAAE95 1.1500000000000001px, #ECE9E4 1.1500000000000001px);
    background-size: 46px 46px;
}



.video{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
.heroImg .heroTextPos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.heroImg .heroTextPos .heroText{
    color: #be9b7b;
    font-size: 72px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#4b3832;
}

.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ECE9E4;
    opacity: 0.8;
    background-image:  radial-gradient(#CAAE95 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#CAAE95 1.1500000000000001px, #ECE9E4 1.1500000000000001px);
    background-size: 46px 46px;
    background-position: 0 0,23px 23px;
    } 

.about-text{
    width: 70vw;
    background-color:#ece9e4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.about-text h2{
    margin-top: 0px;
    color: #be9b7b;
    margin-bottom: 20px;
    font-size: 44px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#4b3832;

}

.about-text p{
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
}

.projects{
    width: 100vw;
    height: 400vh;
    background-color: #F9F4F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.projects .project{
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.projects .project .right1{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .project .right1 h2{
    width: 60%;
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#4b3832;
}

.projects .project .right1 p{
    width: 60%;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.projects .project .left1{
 width: 60vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}

.projects .project .right1{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .project .right1 h2{
    width: 60%;
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#4b3832;
}

.projects .project .right1 p{
    width: 60%;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.projects .project .right2{
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
   
.projects .project .left2{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.projects .project .left2 h2{
    margin-top: 20px;
    width: 60%;
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#4b3832;
}
   
.projects .project .left2 p{
    width: 60%;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.projects .project img{
    width: 60vw;
    height: 60vh;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #eee2d9;
}

.projects .project a{
    font-size: 48px;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 10px;
    color: #be9b7b;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  	#4b3832;
    text-decoration: none;
}

.projects .project a:hover{
    font-size: 50px;
    margin-bottom: 10px;
    text-decoration: none;
}

.projects .project a:visited{
    text-decoration: none;
    color: #be9b7b;
}


.contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9F4F0;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

