*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,
body{
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

}

.container{
    width: 100%;
    height: 100%;
}
.navbar{
    height: 5%;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    position: fixed;
    z-index: 1;
}

.navbar .leftNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .rightNav{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar .rightNav a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.navbar .rightNav a:visited{
    text-decoration: none;
    color: black;
}
.navbar .rightNav a:hover{
    font-size: 20px;
    color: black;
}
.heroImg{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-bottom: 0px;
}
.video{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
.heroImg .heroTextPos{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.heroImg .heroTextPos .heroText{
    color: lavender;
    font-size: 66px;
    font-family: Montseratt;
}

.about{
    width: 100%;
    height: 100%;
    background-color:rgb(39,39,39) ;
    display: flex;
} 
.about .leftAbout{
    width: 50%;
    height: 100%;
    display: flex;
    background-image: url(../images/agustin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about .rightAbout{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .rightAbout ul{
    width: 500px;
    padding: 30px;
    color: lavender;
    font-size: 26px;
    font-family: Montseratt;
}

.resume{
    width: 100vw;
    height: 100vh;
}

.projects{
    width: 100vw;
    height: 300vh;
    background-color: 
    lavender;
    display: flex;
}

.projects .pContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects .pContainer .pOne{
    width: 90vw;
    height: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.projects .pContainer .pOne img{
    width: 75%;
    height: 80%;
    background-color: blue;
    margin-bottom: 10px;
}

.projects .pContainer .pOne a{
    font-size: 33px;
    padding: 40px;
    text-decoration: none;
}

.projects .pContainer .pOne a:hover{
    font-size: 40px;
    padding: 40px;
    text-decoration: none;
}

.projects .pContainer .pOne a:visited{
    text-decoration: none;
    color: black;
}
.projects .pContainer .pOne p{
    font-size: 20px;
    padding: 0px;
    margin-left: 29px;
    text-decoration: none;
}

.contact{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(39,39,39) ;
}

form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color #555;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
}

form button{
    padding: 15px;
    background: #ff5361;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}